page-login {

    #loginMailBtn {
        margin-top: 10px;
    }
    
    #registerMailBtn{
        margin-top: 7px;
    }
    
    #loginFacebookBtn {
        margin-top: 14px;           
        background: #3b5998 !important;
    }


}
