<ion-header>
<!--
  <ion-navbar color="primary">
    <ion-title style="text-align: center;">Capgemini Personal Fitness</ion-title>
  </ion-navbar>
-->
</ion-header>

<ion-content padding>

  <div class="login-logo">
    <img id="capperfitlogo" src="../../assets/imgs/capperfit_logo_new.png" alt="Capperfit logo"/>
  </div>

  <ion-spinner icon="ripple" style="display: block; margin: auto; width: 50px;" [hidden]="!isLogging"></ion-spinner>

  <form #loginForm="ngForm" novalidate style="margin-top: 15px;">
    <ion-list>  
      <ion-item>
        <ion-label floating color="primary">Email</ion-label>
        <ion-input [(ngModel)]="user.email" name="email" type="text" #username="ngModel" spellcheck="false" autocapitalize="off" 
        required>
        </ion-input>
      </ion-item>

      <div *ngIf="!username.valid && submitted == true" style="margin-top: 10px; border-radius: 16px; background: #34495e;">
        <h5 ion-text style="text-align: center; color: white; padding:5px;">Errore nel campo mail!</h5>
      </div>

      <ion-item>
        <ion-label floating color="primary">Password</ion-label>
        <ion-input [(ngModel)]="user.password" name="password" type="password" #password="ngModel" required>          
        </ion-input>
      </ion-item>

      <div *ngIf="!password.valid && submitted == true" style="margin-top: 10px; border-radius: 16px; background: #34495e;">
        <h5 ion-text style="text-align: center; color: white; padding:5px;">Password richiesta</h5>
      </div>
  
      <button ion-button block color="danger" *ngIf="forgotLogin" id="forgotpwd" (click)="helpLogin();">
        Problemi con il login?
      </button>
    
      <!--
      <button ion-button icon-end full (click)="loginFacebook();" id="fbaccess">
        Entra con <ion-icon ios="logo-facebook" md="logo-facebook"></ion-icon>
      </button>
      -->
    </ion-list>
  </form>
</ion-content>

<ion-footer>
<ion-row>
        <ion-col>
          <button ion-button style='font-family: "Prod Sans" !important;font-weight: 700 !important;' clear  (click)="onLogin(loginForm)" type="submit" block>Entra</button>
        </ion-col>
        <ion-col>
          <button ion-button style='font-family: "Prod Sans" !important;font-weight: 700 !important;' clear (click)="onRegister()" outline block>Registrati</button>          
        </ion-col>
      </ion-row>

</ion-footer>