page-login {

    #capperfitLogo{
        height:30%; 
        width: auto; 
        display:block;
        margin-left: auto; 
        margin-right: auto;
    }
    
    #mailAccessDiv{
        margin-top: 7px;
    }

    #loginFacebookBtn {
        margin-top: 10px;           
        background: #3b5998 !important;
    }


}
