page-login {
    #apptitle{
        font-family: "Prod Sans" !important;
        font-weight: 700 !important;
        text-align: center;
    }

    #capperfitlogo{
        margin-top: 20px;
        height:180px; 
        width: 180px; 
        display:block;
        margin-left: auto; 
        margin-right: auto;
    }

    ion-label{
        font-family: 'Open Sans' !important; 
        font-weight: 100 !important;
    }

    ion-item, button, h5{
        font-family: "Prod Sans" !important;
        font-weight: 400 !important;
    }

    button{
        border-radius: 20px !important;
        text-transform: none !important;
    }
        
    #mailaccess{
        margin-top: 16px;
    }

    #fbaccess {
        margin-top: 16px;           
        background: #3b5998 !important;
    }


    .item-md{
        padding-left: 0px !important;
    }
}
