<ion-header>
  <ion-navbar color="primary">
    <ion-title>
      {{trainerName}}
    </ion-title>
    <ion-buttons end>
      <button ion-button block (click)="openChatHistory();">
        <ion-icon name="filing"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <div class="load">
    <button ion-button round outline (click)="loadMessages()">Mostra altri</button>
  </div>
  <ion-list>

    <ion-item *ngFor="let msg of messages" no-lines>
      <div>
        <div class="chat-message" text-right *ngIf="msg.author === uid" (click)="showTime()">
          <div class="right-bubble">    
            <span [hidden]="!timeVisible" class="msg-date"> {{msg.sendDate | date:"dd/MM '-' h:mma"}}</span>          
            <p class="msg" text-wrap>{{msg.msg}}</p>             
          </div>                 
        </div>
        <div class="chat-message" text-left *ngIf="msg.author !== uid" (click)="showTime()">
          <div class="left-bubble">
            <span [hidden]="!timeVisible" class="msg-date"> {{msg.sendDate | date:"dd/MM '-' h:mma"}}</span>
            <p class="msg" text-wrap>{{msg.msg}}</p>
          </div>
        </div>
      </div>
    </ion-item>
  </ion-list>
</ion-content>

<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col col-10>
        <ion-input #text type="text" id="textInput" placeholder="Scrivi un messaggio..." [(ngModel)]="message" (keyup.enter)="sendMessage()" name="message"></ion-input>
      </ion-col>
      <ion-col col-2 (click)="sendMessage()">
        <ion-icon name="paper-plane"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
