page-chat {
  ion-content {
    height: 100%;
    overflow: hidden;
    .item-md, .item-ios {
      background: none;
    }
  }

  .msg, #textInput {
    font-family: "Prod Sans" !important;
    font-weight: 400 !important;
  }

  ion-footer {
    background: white;
    ion-icon {
      padding: 10px;
      font-size: 20px;
      color: #488aff;
    }
  }

  div.load{
    text-align: center;
    padding-top: 1%;
  }
  .chat-status {
    min-height: 49px;
    .chat-date {
      display: block;
      font-size: 10px;
      font-style: italic;
      color: #fff;
      text-shadow: 0px -1px 0px #222, 0px 1px 0px #aaa;
      height: 15px;
      left: 10%;
      right:10%;
    }
    .chat-content-center {
      padding: 5px 10px;
      background-color: #e1e1f7;
      border-radius: 6px;
      font-size: 12px;
      color: #555;
      height: 34px;
      left: 10%;
      right:10%;
    }
  }
  .right-message-date {
    color: rgb(75, 75, 75);
    font-size: 10px;
  }

  .chat-message {
    width: 80%;
    min-height: 40px;
    .right-bubble {
      text-align: left;
      position: relative;
      background: #488aff;
      border-top-left-radius: .4em;
      border-bottom-left-radius: .4em;
      border-bottom-right-radius: .4em;
      padding: 5px;
      left: 15%;
      display: inline-block;
      max-width: 100%;
     
      span.msg-date {
        color: white;
        font-size: 10px;
      }
      p.msg{
        color: white;
      }
    }

    .right-bubble:after {
        content: '';
        position: absolute;
        right: 0;
        top: 0;
        width: 0;
        height: 0;
        border: 27px solid transparent;
        border-left-color: #488aff;
        border-right: 0;
        border-top: 0;
        margin-top: -13.5px;
        margin-right: -27px;
    }

    .left-bubble {
        position: relative;
        background: #e0e0e0;
      border-top-right-radius: .4em;
      border-bottom-left-radius: .4em;
      border-bottom-right-radius: .4em;
      padding: 5px 10px 10px;
      left: 5%;
      display: inline-block;
      max-width: 100%;
      span.msg-date {
        font-size: 10px;
      }

      p.msg{
        color: #000000;
      }
    }

    .left-bubble:after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 0;
        height: 0;
        border: 27px solid transparent;
        border-right-color: #e0e0e0;
        border-left: 0;
        border-top: 0;
        margin-top: -13.5px;
        margin-left: -27px;
    }
  }

}
