page-trainerhome {
    ion-title, ion-label, h2{
        font-family: "Prod Sans" !important;
        font-weight: 700 !important;
    }

    p{
        font-family: "Prod Sans" !important;
        font-weight: 400 !important;
    }


}
