page-home {  
    ion-content {
        #mapContainer{
            width: 100%;
            height: 70%;
        }
        #map {
            width:  100%;
            height: 100%;
        }

        #infoContainer{
            width: 100%;
            height: 30%;
            display: grid;

            grid-template-columns: [col1-start] 30%  [col2-start] 40%  [col3-start] 30% [col3-end];
            grid-template-rows: [row1-start] 50% [row2-start] auto [row2-end];
            
        }			

        .box {            
            display:flex;
            justify-content:center;
            align-items:center;            
        }

        .a {
            grid-column: col1-start / col3-end;
            grid-row: row1-start ;        
        }        
        .b {
            grid-column: col1-start;
            grid-row: row2-start ;
        }
        .c {
            grid-column: col2-start ;
            grid-row: row2-start ;
        }
        .d {
            grid-column: col3-start ;
            grid-row: row2-start;
        }

        #time{
            font-size: 300%; 
            margin-top: 10px;
            font-family: "Prod Sans" !important;
            font-weight: 400 !important;
        }

        #distance{
            font-size: 125%;
            font-family: "Prod Sans" !important;
            font-weight: 100 !important;
        }

        #calories{
            font-size: 125%;
            font-family: "Prod Sans" !important;
            font-weight: 100 !important;
        }
    }

}