page-home {
    .intro {
        text-align: center;
        border-bottom: 1px solid #e2e2e2;
        padding-bottom: 14px;
    }

    .google_btn_container {
        padding-top: 10px;

        button {
            background: #ffffff;
            color: #000000 !important;
        }

        button:hover{
            background: #e6e6e6 !important;
        }
    }

    .fb_btn_container {
        padding-top: 10px;

        button {
            background: #3b5998;
        }
        
        button:hover{
            background: #2d4473 !important;
        }
    }
}
