<!--
  Generated template for the TrainingHistoryPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="primary">
    <ion-title> La tua attivit&agrave;</ion-title>
  </ion-navbar>

</ion-header>

<ion-content #pageTop>
<div id="mapContainer">
    <ion-fab style="vertical-align: top;" end>
			<button ion-fab mini color="primary" [hidden]="!isMapHidden" (click)="clearMap()">
				<ion-icon name="close"></ion-icon>
			</button>
  </ion-fab>
  <div #map id="map"></div>
</div>

<p id="selectInfo" style="text-align: center;">{{infotext}}</p>

    <ion-list *ngFor="let element of activityList.slice().reverse()">
      <ion-card padding>
        <h1 style="margin-bottom: 10px;">{{element.date}}</h1>  
        <ion-list *ngFor="let activity of element.card">
          <h2>{{activity}}</h2>
        </ion-list>   
        <div style="margin-top: 28px;">
          <ion-list *ngFor="let hour of element.hours" (click)="onClickHour(hour, element.date)">
            <button ion-button block style="text-transform: none;">Corsa delle {{hour}}</button> 
          </ion-list> 
        </div>
               
      </ion-card>                                           
    </ion-list>
  

</ion-content>